{{ if eq .chezmoi.os "linux" -}}
{{   if eq .chezmoi.osRelease.id "ubuntu" -}}
#!/bin/bash

if [ ! -d "$HOME/.asdf" ]; then
  echo "Installing asdf"

  echo "Installing dependencies"
  sudo apt install -y curl git

  echo "Cloning asdf"
  git clone https://github.com/asdf-vm/asdf.git ~/.asdf --branch v0.15.0
else
  echo "asdf already installed"
fi
{{ else }}
echo "Unsupported OS: {{ .chezmoi.os }} {{ .chezmoi.osRelease.id }}"
{{ end }}
{{ end }}

