#!/usr/bin/env bash
echo "Installing package build dependencies"

{{ range $key, $value := .packages.mise -}}
{{if eq $.chezmoi.os "darwin" -}}
{{ else }}
{{ if eq $.chezmoi.osRelease.id "ubuntu" -}}
{{ if index $value.dependencies "ubuntu" -}}
echo "Installing dependencies for {{ $key }}"
sudo apt install -y {{ $value.dependencies.ubuntu }}
{{ end -}}
{{ end -}}
{{ end -}}
{{ end -}}
