{
  "includeCoAuthoredBy": false,
  "hooks": {
    "PostToolUse": [
      {
        "matcher": "Edit|Write|MultiEdit",
        "hooks": [
          {
            "type": "command",
            "command": "{{ .chezmoi.sourceDir }}/agents/hooks/format-code.sh"
          }
        ]
      }
    ]
  },
  "feedbackSurveyState": {
    "lastShownTime": 1754008701811
  },
  "model": "opusplan",
  "statusLine": {
    "type": "command",
    "command": "printf '%s\\033[01;32m%s@%s\\033[00m:\\033[01;34m%s\\033[00m' \"${debian_chroot:+($debian_chroot)}\" \"$(whoami)\" \"$(hostname -s)\" \"$(pwd)\""
  }
}
